html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333;
}

canvas {
  position: fixed !important;
}

a {
  color: inherit;
  text-decoration: none;
}

a#play-sound {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('./images/mute-icon.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  opacity: 0.6;
  text-indent: -9999px;
  pointer-events: none;
}

#greeting {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  line-height: 1em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 900%;
  color: white;
  z-index: 1;
  opacity: 0.0;
  transition: opacity 250ms;
  pointer-events: none;
}

#attribution {
  position: fixed;
  bottom: 0.5em;
  right: 1em;
  font-size: 100%;
  z-index: 1;
  pointer-events: none;
}
